- @page_title = "Edit Farm: #{@farm.name}"

= link_to "<< Back to Farm List", {:action => 'list', :client_id => @client.id}, :class => 'back-link'

%div(class="farm edit")
  %h2 Update Farm
  = form_for(:farm_insurance, :url => {:action => 'update', :id => @farm.id}) do |f|
    = render(:partial => "form", :locals => {:f => f})
    .form-buttons
      = submit_tag("Update Farm")